#cssversion:before{
    content: "0.0.1a";
}

html, body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
    font-family: sans-serif;
}

.reservtable{
    margin: auto;
}

.reservtable tr td,
.reservtable tr th{
    padding: 3px;
}

.reservtable tbody tr:nth-child(even),
.reservtable thead tr{
    background-color: #e7e7e7;
}

.reservtable .vn{
    min-width: 150px;
}

.reservtable .pl{
    width: 100px;
    text-align: center;
}

.reservtable .komm{
    width: 300px;
}

.reservtable .bdate{
    min-width: 150px;
}

h2{
    text-align: center;
}

.waiting{
    padding-bottom: 40px;
}

@media print {
    .noPrint {
        display:none;
      }

    h2{
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

    body{
        font-family: sans;
        font-size: 14px;
    }

    .reservtable tbody tr:nth-child(even),
    .reservtable thead tr{
        background-color: #e7e7e7!important;
    }

    .reservtable .bdate{
        min-width: 110px;
    }
    

    .reservtable tr td,
    .reservtable tr th{
        padding: 1px;
    }

    .reservtable{
        margin: 0px auto 0px 0px;
    }

    #info{
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 8px;
        opacity: 0.7;
        font-size: 13px;
        text-align: right;
        display: block !important;
    }
    .waiting{
        padding-bottom: 0px;
    }
}

#info{
    display: none;
}

.navbar .glyphicon{
    padding: 0px 6px 0px 0px;
}

#edit{
    display: none;
}

#errors, #warnings{
    display: none;
}